:root {
  --bgcolor: white;
  --fontcolor: black;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: black;
    --fontcolor: white;
    
  }
}

#switch:checked ~ * {
  --bgcolor: black;
  --fontcolor: white;
  
}

@media (prefers-color-scheme: dark) {
  #switch:checked ~ * {
    --bgcolor: white;
    --fontcolor: black;
    
  }
}

html {
  overflow-y: scroll
  
}

body{
  height: 100vh;
  margin: 0;
  font:15px/1.5 'Trebuchet MS', 'Tahoma', 'Arial', sans-serif;
  
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.outer {
  min-height: 100vh;
  background: var(--bgcolor);
  
}

#switch:checked ~ .outer {
  background: var(--bgcolor);
  
}

.navbar {
  background: var(--bgcolor);
  
}

#switch:checked ~ .outer .navbar {
  background: var(--bgcolor);
  
}

.outer .content {
  max-width: 800px;
  padding: 40px 15px;
  margin: 0px auto;
  background: var(--bgcolor);
  color: var(--fontcolor);
  
}

#switch:checked ~ .outer .content {
  background: var(--bgcolor);
  color: var(--fontcolor);
}

.content .toggle {
  display: flex;
  margin: 5px 10px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: var(--fontcolor);
  align-items: center;
  
}

#switch:checked ~ .outer .toggle {
  background: var(--fontcolor);
}

.toggle .circle {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  border-radius: 50%;
  background: var(--bgcolor);
  transition: all 0.2s ease;
  
}

#switch:checked ~ .outer .circle {
  margin-left: 21px;
  background: var(--bgcolor);
}

#switch {
  display: none;
}
