:root {
  --bgcolor: white;
  --fontcolor: black;
  --linkcolor: #00e;
  --visitedcolor: #551a8b;
  --precolor: #fff;
  --prebgcolor: #000;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: black;
    --fontcolor: white;
    --linkcolor: #5bf;
    --visitedcolor: #ae5ee0;
    --precolor: #fff;
    --prebgcolor: #383838;
    
  }
}

#switch:checked ~ * {
  --bgcolor: black;
  --fontcolor: white;
  --linkcolor: #5bf;
  --visitedcolor: #ae5ee0;
  --precolor: #fff;
  --prebgcolor: #383838;
  
}

@media (prefers-color-scheme: dark) {
  #switch:checked ~ * {
    --bgcolor: white;
    --fontcolor: black;
    --linkcolor: #00e;
    --visitedcolor: #551a8b;
    --precolor: #fff;
    --prebgcolor: #000;
    
  }
}

html {
  overflow-y: scroll
  
}

body{
  height: 100vh;
  margin: 0;
  font:15px/1.5 'Trebuchet MS', 'Tahoma', 'Arial', sans-serif;
  
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.outer {
  min-height: 100vh;
  background: var(--bgcolor);
  transition: background-color 0.2s ease-in-out;
  
}

#switch:checked ~ .outer {
  background: var(--bgcolor);
  
}

.navbar {
  background: var(--bgcolor);
  transition: background-color 0.2s ease-in-out;
  
}

#switch:checked ~ .outer .navbar {
  background: var(--bgcolor);
  
}

.outer .content {
  max-width: 800px;
  padding: 40px 15px;
  margin: 0px auto;
  background: var(--bgcolor);
  color: var(--fontcolor);
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
  
}

#switch:checked ~ .outer .content {
  background: var(--bgcolor);
  color: var(--fontcolor);
}

.content .toggle {
  display: flex;
  margin: 5px 10px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: var(--fontcolor);
  align-items: center;
  
}

#switch:checked ~ .outer .toggle {
  background: var(--fontcolor);
}

.toggle .circle {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  border-radius: 50%;
  background: var(--bgcolor);
  transition: all 0.2s ease;
  
}

#switch:checked ~ .outer .circle {
  margin-left: 21px;
  background: var(--bgcolor);
}

#switch {
  display: none;
}

a:link {
  color: var(--linkcolor);
  transition: color 0.2s ease-in-out;
  
}

a:visited {
  color: var(--visitedcolor);
  transition: color 0.2s ease-in-out;
  
}

a:active {
  color: var(--visitedcolor);
  transition: color 0.2s ease-in-out;
  
}

h1 {
  line-height: 1.2;
  font-family: 'Tahoma', 'Arial', sans-serif;
  font-size: 2em;
  
}

h2, h3 {
  line-height: 1.2;
  font-family: 'Tahoma', 'Arial', sans-serif;
  
}

p > code {
  color: var(--precolor);
  background: var(--prebgcolor);
  padding: 2px;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
              
}

article {
  padding: 24px 0;
  
}
